body{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 150%;
}
header{
  background-color:lightgray;
}
nav{
  background-color: darkkhaki;
}
main{
  background-color: red;
  font-size: 200%;
}
footer{
  background-color: aqua;
}
li{
  display: inline-block;
  width: 150%;
}
h1{
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: goldenrod;
}
p{
  line-height: 150%;
}